{% macro new_category_form(data={}) %}
    <form action="{{ url_for('categories.add_category') }}" method="post">

        <table>
            <tr>
                <th>
                    <label for="nazev">Název</label>
                </th>
                <td>
                    <input id="nazev" name="nazev" value="{{ data.nazev }}" required>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="popis">Popis</label></th>
                <td>
                    <input id="popis" name="popis" value="{{ data.popis }}">
                </td>
            </tr>
            <tr>
                <th>
                    <label for="barva">Barva</label></th>
                <td>
                    <input type="color" value="#f28e1c" id="barva" name="barva" value="{{ data.barva }}">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Přidat">
                </td>
            </tr>
        </table>

    </form>
{% endmacro %}