{% extends "base.html" %}
{% from "products/macros/newprice_admin.html" import new_price_form %}

{% block title %} Přidání nové ceny {% endblock %}

{% block content %}
    {% if is_authenticated %}
        <h2>Přidání nové ceny</h2>

        {{ new_price_form(data=data, products=products) }}
    {% else %}
        <div class="alert danger">
            Zde nemáte co dělat, přihlašte se.
        </div>
    {% endif %}
{% endblock %}
