{% extends "base.html" %}
{% from "products/macros/newproduct.html" import new_product_form %}

{% block title %} Přidání nového produktu {% endblock %}

{% block content %}
    {% if is_authenticated %}
        <h2>Přidání nového produktu</h2>

        {{ new_product_form(data=data, categories=categories) }}
    {% else %}
        <div class="alert danger">
            Zde nemáte co dělat, přihlašte se.
        </div>
    {% endif %}
{% endblock %}
