{% extends "base.html" %}
{% from "products/macros/newprice_anonymous.html" import new_price_form %}

{% block title %} Přidání nové ceny {% endblock %}

{% block content %}
    {% if is_admin_logged %}
        <div class="alert danger">
            Pozor, nacházíte se na stránce určené pro nepřihlášené uživatele, některé funkcionality nemusí fungovat tak, jak jste zvyklí.
        </div>
    {% endif %}
    <h2>Přidání nové ceny</h2>

    {{ new_price_form(data=data, products=products) }}

{% endblock %}


