{% extends "base.html" %}

{% block title %} Procházení cen produktu {% endblock %}

{% block style %}
    main h2 {color: {{category_info.barva}};}
    main h4 {color: {{category_info.barva}};}
    main a {color: {{category_info.barva}};}
    .items-table thead tr {
    background-color: {{category_info.barva}};
    color: #ffffff;
    text-align: center;
}
.items-table tbody tr:last-of-type {
    border-bottom: 3px solid {{category_info.barva}};
}
{% endblock %}


{% block content %}
    <h2>Procházení cen produktu {{product_info.nazev}}</h2>
    <h4>Výrobce: {{product_info.vyrobce}}</h4>
    <p>Seznam cen:</p>
    <table class="items-table">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Cena</th>
                <th>Zadal</th>
                <th>Zdroj</th>
                {% if is_admin_logged %}
                    <th>Smazat</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for price in prices %}
                <tr>
                    <td>{{price.datum}}</td>
                    <td>{{price.cena}}</td>
                    <td>{{price.username}}</td>
                    <td>{{price.zdroj}}</td>
                    {% if is_admin_logged %}
                        <td><a href="{{url_for('products.delete_price', id=price.id_produktu, date=price.datum)}}"><center><span class="material-icons">delete</span></center></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
