{% extends "base.html" %}

{% block title %} Procházení kategorie {% endblock %}

{% block style %}
    main h2 {color: {{category_info.barva}};}
    main h4 {color: {{category_info.barva}};}
    main a {color: {{category_info.barva}};}
    .items-table thead tr {
    background-color: {{category_info.barva}};
    color: #ffffff;
    text-align: center;
}
.items-table tbody tr:last-of-type {
    border-bottom: 3px solid {{category_info.barva}};
}
{% endblock %}

{% block content %}
    <h2>Kategorie {{category_info.nazev}}</h2>
    <h4>{{category_info.popis}}</h4>
    <p>Seznam produktů:</p>
    <table class="items-table">
        <thead>
            <tr>
                <th>Název</th>
                <th>Výrobce</th>
                {% if is_admin_logged %}
                    <th>Smazat</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td><a href="{{url_for('products.show_prices', id=product.id_produktu)}}">{{product.nazev}}</a></td>
                    <td>{{product.vyrobce}}</td>
                    {% if is_admin_logged %}
                        <td><a href="{{url_for('products.delete_product', id=product.id_produktu)}}"><center><span class="material-icons">delete</span></center></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{url_for('categories.delete_category', id=category_id)}}">Smazat tuto kategorii</a>
{% endblock %}
