{% extends "base.html" %}
{% from "categories/macros/newcategory.html" import new_category_form %}

{% block title %} Přidání nové kategorie {% endblock %}

{% block content %}
    {% if is_authenticated %}
        <h2>Přidání nové kategorie</h2>

        {{ new_category_form(data=data) }}
    {% else %}
        <div class="alert danger">
            Zde nemáte co dělat, přihlašte se.
        </div>
    {% endif %}
{% endblock %}
