{% macro login_form(small=False, data={}) %}
    <form action="{{ url_for('auth.login_action') }}" method="post">
        {% if small %}
            <input name="username" class="dense" required>
            <input type="password" name="password" class="dense" required>
            <input type="submit" value="➤" class="dense">
        {% else %}
            <table>
                <tr>
                    <th>
                        <label for="login-username">Uživatelské jméno</label>
                    </th>
                    <td>
                        <input id="login-username" name="username" value="{{ data.username }}" required>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="login-password">Heslo</label></th>
                    <td>
                        <input type="password" id="login-password" name="password" value="{{ data.password }}" required>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Přihlásit se">
                    </td>
                </tr>
            </table>
        {% endif %}
    </form>
{% endmacro %}
