/** --- PAGE --- */

/* Reset all elements */
* {
    margin: 0;
    font-family: 'arial', sans-serif;
}

body {
    background: rgb(248, 248, 248);
    width: 100%;
    max-width: 1200px; /* prevent too wide texts on large screens */
    margin: auto;
}

/* --- TABLES --- */
.items-table {
    margin: 25px 0;
    font-size: 1.5em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: none
}

.items-table thead tr {
    background-color: #f28e1c;
    color: #ffffff;
    text-align: center;
}

.items-table th, td {
    padding: 12px 15px;
}

.items-table tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

.items-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.items-table tbody tr:last-of-type {
    border-bottom: 3px solid #f28e1c;
}

.items-table td:first-child {
    font-weight: bold;
}

.items-table a {
    text-decoration: none;
    color: black;
}

table {
    border-collapse: collapse;
}
/*
th, td {
    padding: 0.2em 0.7em;
    border: 1px solid lightgray;
}
*/
table.no-border th, table.no-border td {
    border: none !important;
}

table ul, table ol {
    margin: 0;
    padding-left: 1em;
}

/* --- GENERAL --- */

a {
    color: #cc720c
}

p {
    text-align: justify;
    font-size: 1em;
}

p, ul, table {
    margin-bottom: 1em;
}

hr {
    margin: 1.5em 0 2em;
    border: 1px solid lightgrey;
}

input, select, textarea {
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 0.6em 1em;
    margin: 0.2em;
    font-size: 1em;
}

input.dense {
    width: 5em;
}

input[type="submit"], input[type="button"], input[type="reset"], button {
    padding: 0.6em 1em;
    cursor: pointer;
}

input[type="color"] {
	border: none;
	width: 5em;
	height: 4em;
}

input[type="submit"] {
    font-weight: bold;
    background-color: #f28e1c;
    color: white;
}

input[type="submit"]:hover {
    background-color: #cc720c;
}

input[type="submit"].dense {
    width: auto;
    padding: 0.4em 0.7em;
}

input:not(:empty):invalid {
    border-color: red;
}

.alert {
    border-width: 1px;
    border-radius: 8px;
    padding: 1em 2em;
    margin: 1em 0;
    font-weight: bold;
}

.alert.success {
    background-color: #e5f7cb;
    border-color: #58920a;
}

.alert.success:before {
    content: '✅ '
}

.alert.danger {
    background-color: pink;
    border-color: darkred;
}

.alert.danger:before {
    content: '⛔️ '
}

/* --- NAVIGATION --- */

nav {
    background: #f28e1c;
    position: sticky;
    width: inherit;
    max-width: inherit;
    top: 0;
    display: inline-flex;
}

#titulek {
    text-align: center;
    color: white;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    font-weight: bold;
}

#menu {
    display: flex;
    margin-left: auto;
}

#menu a {
    color: white;
    font-size: 1.2rem;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1rem 2rem;
}

#menu a:hover {
    background: #cc720c;
}


/* --- HEADER --- */

header {
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 20rem;
}

header h1 {
    display: block;
    background: rgba(255, 255, 255, 0.8);
    text-align: right;
    font-size: 2.5em;
    text-transform: uppercase;
    width: 10em;
    padding: 0.5em 1em;
    margin: 3em 1em;
}


/* --- MESSAGES --- */

.messages {
    background: white;
    padding: 1em 1em 0 1em;
}

.message {
    padding: 1em 2em;
    border-width: 1px;
    border-radius: 10px;
    font-weight: bold;
}

.message:not(:last-child) {
    margin-bottom: 1em;
}

.message.success {
    background: #e9ffc0;
    color: #599f1d;
    border-color: #599f1d;
}

.message.error {
    background: pink;
    color: red;
    border-color: red;
}


/* --- CONTENT --- */

main {
    background: white;
    padding: 2em 2em 3em 2em;
}

main h2 {
    color: #f28e1c;
    margin-bottom: 1em;
    line-height: 1.4;
}

main h4 {
    color: #f6ae5c;
    margin-bottom: 1em;
    line-height: 1.2;
}

/* --- FOOTER --- */

footer {
    background: #f28e1c;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 2em 2em 3em 2em;
}

footer div {
    margin-right: 2em;
    margin-bottom: 2em;
    width: 30%;
}

iframe {
    border: none;
}

.vedlesebe {
    display: flex;
    width: 100%;
    align-items: center;
}

.vedlesebe a {
    text-decoration: none;
}

.newitem-items {
    width: 300px;
    height: 300px;
    line-height: 300px;
    border-radius: 50%;
    font-size: 30px;
    color: white;
    text-align: center;
    background: #f28e1c;
    text-decoration: none;
    margin: 40px;
}


/**
.three-columns div {
    width: 40%;
    margin: 40px;
    padding: 5px;
}