{% extends "base.html" %}


{% block title %} Administrace {% endblock %}

{% block content %}
    <h2>Administrace</h2>
    {% if is_admin_logged %}
        <p>Seznam uživatelů:</p>
        <table class="items-table">
            <thead>
                <tr>
                    <th>Uživatel</th>
                    <th>Role</th>
                    <th>Udělit oprávnění</th>
                    <th>Smazat</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users_roles %}
                    <tr>
                        <td>{{user.username}}</td>
                        <td>{{user.nazev}}</td>
                        <td><a href="{{url_for('administration.grant_permissions', id=user.id_uzivatele)}}"><span class="material-icons">done_outline</span></a></td>
                        <td><a href="{{url_for('administration.delete_user', id=user.id_uzivatele)}}"><span class="material-icons">delete</span></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert danger">
            Zde nemáte co dělat, přihlašte se.
        </div>
    {% endif %}
{% endblock %}
