<!DOCTYPE html>
<html lang="cs">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Katalog piv - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>{% block style %}{% endblock %}</style>
</head>
<body>

    <nav>
        <div id="titulek">
            <span class="material-icons">sports_bar</span>  Katalog piv
        </div>
        <div id="menu">
            <a href="/">Domů</a>
            <a href="{{url_for('items.load_new_item_page')}}">Přidat záznam</a>
            {% if is_admin_logged %}
                <a href="{{url_for('administration.load_admin_page')}}">Administrace</a>
            {% endif %}
            {% if is_authenticated %}
                <a href="{{url_for('auth.logout_action')}}">Odhlásit</a>
            {% else %}
                <a href="{{url_for('auth.login_form')}}">Přihlášení</a>
            {% endif %}
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages | length > 0 %}
            <div class="messages">
                {% for category, message in get_flashed_messages(with_categories=true) %}
                    <div class="message {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div>
        <h3>Kontakt:</h3>
            <address>
                Michal Koudela<br>
                xkoudela@mendelu.cz<br>
                Tel. 123 456 789
            </address>
        </div>
        <div>
            <h3>Kde nás najdete:</h3>
            <iframe src="https://frame.mapy.cz/s/pazelozole" width="400" height="280"></iframe>
        </div>
    </footer>

</body>
</html>
