{% extends "base.html" %}

{% block title %} Úvod {% endblock %}

{% block content %}
    {% if after_login %}
        <div class="alert success">
            Přihlášení bylo úspěšné.
        </div>
    {% else %}
        {% if after_logout %}
            <div class="alert success">
                Odhlášení bylo úspěšné.
            </div>
            {% else %}
                <h2>Vítejte na webu s katalogem pivních produktů!</h2>
            {% endif %}
    {% endif %}

    <p>Začněte výběrem kategorie:</p>
<!--
    <table class="items-table">
        <thead>
            <tr>
                <th>Název</th>
                <th>Popis</th>
                <th>Zobrazit produkty</th>
                {% if is_admin_logged %}
                    <th>Smazat</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{category.nazev}}</td>
                <td>{{category.popis}}</td>
                <td><a href="{{url_for('categories.show_category', id=category.id_kategorie)}}"><span class="material-icons">list_alt</span></a></td>
                {% if is_admin_logged %}
                    <td><a href="{{url_for('categories.delete_category', id=category.id_kategorie)}}"><span class="material-icons">delete</span></a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>-->
    {% for three_categories in categories | batch(3, '&nbsp;') %} <!-- rozdělí list kategorií na trojice -->
        <div class="vedlesebe">
            {% for category in three_categories %}
                {% if category.id_kategorie != NULL %}
                    <a href="{{url_for('categories.show_category', id=category.id_kategorie)}}"><div class="newitem-items" style="background: {{category.barva}}">{{category.nazev}}</div></a>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
