{% extends "base.html" %}

{% block title %} Přidání nové položky {% endblock %}

{% block content %}
    {% if is_admin_logged %}
        <h2>Přidání nové položky</h2>
        <p>Zvolte si, co chcete přidat:</p>
        <div class="vedlesebe">

                <a href="{{url_for('products.new_product')}}"><div class="newitem-items">Přidat nový produkt</div></a>
                <a href="{{url_for('categories.new_category')}}"><div class="newitem-items">Přidat novou kategorii</div></a>
                <a href="{{url_for('products.new_price_admin')}}"><div class="newitem-items">Přidat novou cenu</div></a>

        </div>
    {% endif %}


    {% if not is_admin_logged %}
        {% if is_authenticated %}
            <div class="alert danger">
                Jste přihlášen jako běžný uživatel bez oprávnění, nemůžete tedy přidávat nové kategorie ani produkty a mazat záznamy. Pro udělení těchto práv kontaktujte administrátora.
            </div>
            <h2>Přidání nové položky</h2>
            <p>Zvolte si, co chcete přidat:</p>
            <a href="{{url_for('products.new_price_admin')}}"><div class="newitem-items">Přidat novou cenu</div></a>
        {% else %}
            <h2>Přidání nové položky</h2>
            <p>Zvolte si, co chcete přidat:</p>
            <a href="{{url_for('products.new_price_anonymous')}}" style="text-decoration: none"><div class="newitem-items">Přidat novou cenu</div></a>
            <br>
            Pro více možností se <a href="{{url_for('auth.login_form')}}">přihlašte</a> nebo <a href="{{url_for('auth.registration')}}">zaregistrujte</a>.
        {% endif %}
    {% endif %}


{% endblock %}
