{% extends "base.html" %}
{% from "auth/macros/login.html" import login_form %}

{% block title %} Přihlášení {% endblock %}

{% block content %}
    <h2>Přihlášení</h2>

    {% if after_registration %}
        <div class="alert success">
            Registrace byla úspěšná. Nyní se prosím přihlaste.
        </div>
    {% endif %}

    {% if is_authenticated %}
        <div class="alert success">
            Již jste přihlášeni.
        </div>
    {% endif %}

    {{ login_form(data=data) }}

    Nemáte účet? <a href="{{url_for('auth.registration')}}">Registrujte se &raquo;</a>

{% endblock %}
