{% macro new_product_form(data={}, categories=categories) %}
    <form action="{{ url_for('products.add_product') }}" method="post">

        <table>
            <tr>
                <th>
                    <label for="nazev">Název</label>
                </th>
                <td>
                    <input id="nazev" name="nazev" value="{{ data.nazev }}" required>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="vyrobce">Výrobce</label></th>
                <td>
                    <input id="vyrobce" name="vyrobce" value="{{ data.vyrobce }}" required>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="kategorie">Kategorie, do které produkt spadá</label></th>
                <td>
                    <select id="kategorie" name="kategorie" required>
                        {% for category in categories %}
                        <option value={{category.id_kategorie}}>{{category.nazev}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Přidat">
                </td>
            </tr>
        </table>

    </form>
{% endmacro %}