{% macro new_price_form(data={}, products=products) %}
    <form action="{{ url_for('products.new_price_anonymous') }}" method="post">

        <table>
            <tr>
                <th>
                    <label for="datum">Datum</label></th>
                <td>
                    <input type="date" id="datum" name="datum" value="{{ data.datum }}">
                </td>
            </tr>
            <tr>
                <th>
                    <label for="castka">Částka</label>
                </th>
                <td>
                    <input type="number" id="castka" name="castka" value="{{ data.castka }}" required>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="produkt">Produkt</label></th>
                <td>
                    <select id="produkt" name="produkt" required>
                        {% for product in products %}
                        <option value={{product.id_produktu}}>{{product.nazev}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="zdroj">Zdroj</label></th>
                <td>
                    <input id="zdroj" name="zdroj" value="{{ data.zdroj }}" required>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Přidat">
                </td>
            </tr>
        </table>

    </form>
{% endmacro %}